@import "tailwindcss";

@theme {
  --color-background: #f9f9f9;
  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-secondary: #5d5f5f;
  --color-on-secondary: #ffffff;
  --color-outline-variant: #cfc4c5;

  --color-on-background: #1a1c1c;

  --font-display-lg: "Geist", sans-serif;
  --font-label-sm: "JetBrains Mono", monospace;
  --font-body-md: "Inter", sans-serif;

  --text-headline-md: 24px;
  --text-headline-md--line-height: 1.3;
  --text-headline-md--font-weight: 600;

  --text-label-sm: 12px;
  --text-label-sm--line-height: 1;
  --text-label-sm--letter-spacing: 0.05em;
  --text-label-sm--font-weight: 500;

  --spacing-margin-mobile: 16px;
  --spacing-margin-desktop: 64px;
  --width-container-max: 1440px;
}
